*{
    margin:0;
    padding:0;
}

body{
    background: rgb(107,181,31);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

h1{
    font-family: sans-serif;
    border:2px solid #ccc;
    padding:20px;
}