.star-rating{
  width: 100vw;
  height: 90vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-container{
  background-color: rgb(0, 102, 255);
}


.active{
  color:#fff700 ;
}

.inactive{
  color:black;
}